<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>The Syndicate Herald</title>

    <!-- jQuery -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <!--  Bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

    <!--  Bootstrap JS  -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <!--  Custom CSS  -->
    <link rel="stylesheet" href="/public/css/site.css">

    <!--  Custom JS  -->
    <script src="/public/js/site.js"></script>
</head>
<body>
{{{body}}}

</body>
</html>