<main>
    <form id="signup-form" method="post" action="/signup">
        <p>Sign Up.</p>

        <label for="firstName">First Name</label>
        <input id="firstName" type="text" name="firstName" placeholder="First Name"/>

        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" name="lastName" placeholder="Last Name"/>

        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="Email"/>

        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Username"/>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password"/>

        <button id="signup-button" type="submit">Sign Up</button>
    </form>

    <form id="login-form" method="post" action="/login">
        <p>Login.</p>

        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Username"/>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password"/>

        <button id="login-button" type="submit">Login</button>
    </form>
</main>
